{% extends 'base.html' %}

{% block content%}
<h1>Snack List</h1>
{% endblock content%}


<p> I didn't know what to put here so i used google's url as a place holder</p>

  
        {% block data %}
        <div>
            <p> I didn't know what to put here so i used google's url as a place holder</p>
            {% for i in object_list %}

            <a href="{% url 'snack_detail' i.pk%}"><h1 style="color:blue">{{i.name}}</h1></a>

            {% endfor %}
        </div>
        <p> gosh , I can show the data from the database here .. 😀😀😀</p>
        {% endblock data %}


